body {
	text-align: center;
	background-color: black;

}
h2 {
	text-align: center;
	color: yellow;
	font-size: 45px;
}
p {
	color: white;
}
div.form {
	background-color: black;
	border-style: solid;
	padding-top: 10%;
}

form {
	color: white;
	display: inline-block;
	background-color: black;
}
