{% extends "base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}


<div id="cartinfo">
    <div style="background-color:#080808; border-style:solid; border-color:yellow">
        <br>
        <br>
        <br>
        <br>
        <h1 align="center">Your shopping cart</h1>
        <table id="cartinfotable" align="center" width="80%">
            <thead>
                <tr>
                    <th align="left" style="font-size:20px">Movie</th>
                    <th align="left" style="font-size:20px">Price</th>              
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with movie=item.movie %}
                <tr>
                    <td>{{ movie.movieName }}</td>
                    <td class="num">£{{ item.price }}</td>
                    <td><a href="{% url "cart:cart_remove" movie.movieId %}">(Remove)</a></td>
                </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">£{{ cart.get_total_price }}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <div  id="checkout">
            <div>
                <h2 align="center"><a href="{% url "movies:index" %}" class="button" id="checkouttext">Continue Shopping</a></h2>
            </div>
            <div>
                <h2 align="center"><a href="{% url "orders:checkout" %}" class="button" id="checkouttext">Checkout</a></h2>
            </div>
        </div>
    </div>
    <div style="background-color:#080808; border-style:solid; border-color:yellow">
        <br>
        <br>
        <br>
        <br>
        <h1 align="center">About your order:</h1>
        <div style="margin:5%">
            <ul style="list-style-type: circle; padding:2%;"><h2>How can I watch my movies?</h2>
                <li  style="margin:1%">All of your Movies will be available in (<a href="{% url 'orders:order_list' %}" id="headerlist">MY COLLECTION</a><img src="{% static 'img/collection.png' %}" width="3%" height="3%">)</li>
                <li  style="margin:1%">Each movie will be available for two weeks after you have initially started watching it.</li>
                <lI  style="margin:1%">A movie's two-week timer will ONLY start once you have started watching it.</lI>
            </ul>
            <ul style="list-style-type: circle; padding:2%;"><h2>What can I do once a movie's rental period is up?</h2>
                <li  style="margin:1%">Upon expiry, a rented movie will automatically be removed from your collection. No action necessary!</li>
                <li  style="margin:1%">If you want to watch a movie you have already rented, you can rent it again from the store.</li>
                <lI  style="margin:1%">A movie's two-week timer will ONLY start once you have started watching it.</lI>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
