{% extends "base.html" %}
{% load static %}



{% block content %}


<main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Shopping Cart</h2>
                </div>
                <div class="content">
                    <div class="row no-gutters shopping-cart">
                        <div class="col-md-12 col-lg-8 product-cart">
                            <div class="items">
                                {% for item in cart %}
                                {% with movie=item.movie %}
                                <div class="product">
                                    <div class="row justify-content-center align-items-center cart-info">
                                        <div class="col-md-10 product-info"><a class="product-name" href="{% url 'movies:detail' movie.movieId %}">{{ movie.movieName }}</a>
                                            <div class="product-specs">
                                                <div><a class="remove" href="{% url "cart:cart_remove" movie.movieId %}">Remove</a></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-2 price"><span>${{ item.price }}</span></div>
                                    </div>

                                </div>
                                 {% endwith %}
                                {% endfor %}

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <h4><span class="text">Total</span><span class="price">${{ cart.get_total_price }}</span></h4><br><a class="btn btn-primary btn-block btn-lg" href="{% url 'orders:checkout' %}" role="button">Checkout</a>
                                <a class="btn btn-primary btn-block btn-lg" role="button" href="/" >Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
