{% extends "movies/base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h1>Your cart</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Movie</th>
                <th>Remove</th>
                <th>Unit price</th>                
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with movies=item.movies %}
            <tr>
                <td>
                    <a href="{{ movies.get_absolute_url }}">
                        <img src="{% if movies.image %}{{ movies.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ movies.title }}</td>
                <td>
                    <form action="{% url "cart:cart_add" movies.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url "cart:cart_remove" movies.id %}">Remove</a></td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "movies:movies_list" %}" class="button light">Continue shopping</a>
        <a href="{% url "orders:order_create" %}" class="button">Checkout</a>
    </p>
{% endblock %}
