{% extends "base.html" %}
{% load static %}

{% block title %}Kino{% endblock %}


{% block content %}
<div id="sidebar">
    <h3>GENRES</h3>
    <ul>
    {% if genre_list %}
        {% for genre in genre_list %}
            <li><a href="{% url 'movies:genre' genre.genreId %}">{{ genre.genreName }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
     <div id="search">
        <form method="post" action="{% url "search:search_movie" %}">
            {% csrf_token %}
            {{ search_form }}
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div id="index">
    <h3>Movies</h3>
    {% if movie_list %}
        {% for movie in movie_list %}
            <div class="item">
                <a href="{% url 'movies:detail' movie.movieId %}">
                    <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    <br>
                    {{ movie.movieName }}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No Movies :(</p>
    {% endif %}
</div>
        <!--<form action="{% url "cart:cart_add" movie.movieId %}" method="post">
            <input type="number" name="quantity">
            <input type="submit" value="Add to cart">
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.update }}
            {% csrf_token %}
        </form>-->

{% endblock %}
