{% load staticfiles %}

body {
	background-color: black;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:hover, a:visited, a {
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* MOVIE RATING CSS */

<<<<<<< HEAD

form .userRating{
	background: url("clapper.png") repeat-x 0 0px;
	width: 150px;
	margin: 0 auto;
	border: solid 2px;
	border-color: yellow;
}

form .userRating input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}


form .userRating input[type="radio"].rating5:checked ~ span { width: 100%; }

form .userRating input[type="radio"].rating4:checked ~ span { width: 80%; }

form .userRating input[type="radio"].rating3:checked ~ span { width: 60%; }

form .userRating input[type="radio"].rating2:checked ~ span { width: 40%; }

form .userRating input[type="radio"].rating1:checked ~ span { width: 20%; }


form .userRating label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
=======
.ratingbutton {
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	width: 40%;
	white-space: nowrap;
	background: gray;
}

.ratingLabel{
	display: none !important;
	width: 10%;
	height: 10%;
}

.ratingLabel [type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.label_item {
	opacity: 1;
}

.ratingLabel:checked + label ~ label {
	opacity: 0.5;
>>>>>>> 2105ebee5a4802987251f72383949e7a6d54b5b6
}

form .userRating label:hover ~ span { background-position: 0 -30px; }

form .userRating label.rating5:hover ~ span { width: 100% !important; }

form .userRating label.rating4:hover ~ span { width: 80% !important; }

form .userRating label.rating3:hover ~ span { width: 60% !important; }

form .userRating label.rating2:hover ~ span { width: 40% !important; }

form .userRating label.rating1:hover ~ span { width: 20% !important; }

form .userRating span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
  background: url("clapper.png") repeat-x 0 -60px;
}

/* HEADER & FOOTER - BASE.HTML */

#footer {
	/*height:40px;
	width:100%;
    position:fixed;
    background-color: black;
	border-top: 5px solid yellow;
	text-align: center;*/
	bottom: 0;
}

#header {
	top: 0;
	left: 0;
	display: block;
	position: fixed;
	background-color: black;	
	border-bottom: 5px solid yellow;
	height: 75px;
	width: 100%;
	overflow-y: hidden;
	z-index: 5;
}

#header ul {
	padding: 10px 20px;
}

#header li {
	padding: 0 10px;
	display: inline;
	vertical-align: middle;
}

#headleft {
	float: left;
	width: 30%;
	text-align: left;
}

#headright {
	float: right;
	width: 30%;
	text-align: right;
}

#header .logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:75px;
	width: auto;
}

#header .icon {
	display: inline-block;
	height: 22px;
	width: auto;
	vertical-align: middle;
}

#content {
	height: 0;
}

/* SIDEBAR */
/* Used in index.html */

#sidebar {
	position: fixed;
	display: block;
	z-index: -1;
	overflow: auto;
	width: 15%;
	left: 0;
	top:75px;
	bottom: 0;
	padding-top: 20px;
	border-right: 5px solid yellow;
	overflow-y: scroll;
}

/* INDEX.HTML */

#index {
	margin: 80px 0 100px 15%;
	padding-top: 1%;
	padding-left: 2%;
}

h4, h4 a, h4 a:hover, h4 a:visited {
	background: yellow;
	color: black;
	margin: 2px 0;
	padding: 3px;
}

#collectionindex {
	display: block;
	margin: 80px 0 100px 0;
	width: 100%;
	padding: 1%;
}

#unwatched, #allOrdered, #started {
	width: 100%;
	display: inline-block;
	border-bottom: 5px solid yellow;
	border-top: 5px solid yellow;
}

#collectionindex #collectiontitle {
	float: left;
	width: auto;
	display: inline-block;
	line-height: 30px;
}

#collectionindex #collectionsort {
	float: right;
	display: inline-block;
	width: auto;
	margin-right: 50px;
	margin-top: 20px;
}

.item {
	position: relative;
    width:275px;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.item img {
    margin-bottom:8px;
    width:275px;
    max-width: 95%;
    height: 450px;
}

.rentedlabel {
	position: absolute;
	top: 4%;
	right: 12%;
	height: 70px;
	width: 70px;
	background-color: #555;
	border-radius: 50%;
	border: 2px solid yellow;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
}

/* DETAIL.HTML */

#detailleftpane {
	position: fixed;
	width: 55%;
	bottom: 0;
	top: 75px;
	padding-top: 1%;
	border-bottom: 5px solid yellow;
}

#detailrightpane {
	position: fixed;
	width: 45%;
	bottom: 0;
	top: 75px;
	margin: 0 0 0 55%;
	padding-top: 1%;
	border-left: 5px solid yellow;
	border-bottom: 5px solid yellow;
	text-align: center;
}

#detailleftpane iframe {
	display: block;
    margin: 0 auto;
    width: 80%;
    height: 60%;
}

#detailleftpane #cartbutton {
	display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#cartbutton form {
	background-color: grey;
	padding: 30px;
	margin-top: 50px;
	display: inline-block;
}

#detailback {
	margin: 20px;
	border: 2px solid yellow;
	max-width: 5%;
	overflow-x: hidden;
	text-align: center;
}

#detaildesc {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 5px solid yellow;
	overflow-y: scroll;
	height: 50%;
	text-align: left;
}

#detailrating {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 5px solid yellow;
	overflow-y: hidden;
	height: 30%;
	text-align: center;
	margin-top: 5%;
}

/* PROFILE.HTML */

#profile {
	margin-top: 100px;
	text-align: center;
}

/* GENRE_PICK.HTML */

#genreselecttitle {
	margin: 100px auto 0 auto;
	text-align: center;
}

#genreselection {
  	flex: 0 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 960px;
	min-height: 50vh;
	margin: 0 auto;
}

#genreselection li {
  position: relative;
}
#genreselection li:hover label {
  color: #BB4430;
}
#genreselection li:hover label::before {
  border: 7px solid #BB4430;
  margin-right: 30px;
}

#genreselection input[type=checkbox] {
  position: absolute;
  visibility: hidden;	
}

#genreselection input[type=checkbox]:checked ~ label {
  color: #BB4430;
}

#genreselection input[type=checkbox]:checked ~ label::before {
  margin-right: 30px;
  border: 7px solid #BB4430;
  background: #F8F7FF;
}

#genreselection label {
	display: flex;
	align-items: center;
	padding: 25px 0 25px 20px;
	color: #F8F7FF;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}

#genreselection label::before {
	display: block;
	content: '';
	border: 7px solid #F8F7FF;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	margin-right: 10px;
	transition: all .25s linear;
}

/* WATCH.HTML */

#watching {
	align-content: center;
	text-align: center;
	margin-top: 200px;
}

/* ORDERS.HTML */

#orderhistory {
	margin-top: 100px;
}