body {
	background-color: black;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:hover, a:visited, a {
	color: white;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* MOVIE RATING CSS */

.ratingLabel{
display: none !important;
width: 10%;
height: 10%;
}

.ratingLabel [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.label_item {
opacity: 0.1;
}

.ratingLabel:checked + label {
opacity: 1;
}

#userRating {
	position: absolute;
	margin-left: 25%;
	margin-right: 25%;
	width: 40%;
	white-space: nowrap;
	background: gray;
}

/* HEADER & FOOTER - BASE.HTML */

#footer {
	/*height:40px;
	width:100%;
    position:fixed;
    background-color: black;
	border-top: 5px solid yellow;
	text-align: center;*/
	bottom: 0;
}

#header {
	top: 0;
	left: 0;
	display: block;
	position: fixed;
	background-color: black;	
	border-bottom: 5px solid yellow;
	height: 75px;
	width: 100%;
	overflow-y: hidden;
	z-index: 5;
}

#header ul {
	padding: 10px 20px;
}

#header li {
	padding: 0 10px;
	display: inline;
	vertical-align: middle;
}

#headleft {
	float: left;
	width: 30%;
	text-align: left;
}

#headright {
	float: right;
	width: 30%;
	text-align: right;
}

#header .logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:75px;
	width: auto;
}

#header .icon {
	display: inline-block;
	height: 22px;
	width: auto;
	vertical-align: middle;
}

/* SIDEBAR */
/* Used in index.html */

#sidebar {
	position: fixed;
	display: block;
	z-index: -1;
	overflow: auto;
	width: 15%;
	left: 0;
	top:75px;
	bottom: 0;
	padding-top: 20px;
	border-right: 5px solid yellow;
	overflow-y: scroll;
}

/* INDEX.HTML */

#index {
	margin: 80px 0 100px 15%;
	padding-top: 1%;
	padding-left: 2%;
}

.item {
    width:22%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.item img {
    margin-bottom:8px;
    width:275px;
    max-width: 95%;
    height: 450px;
}

/* DETAIL.HTML */

#detailleftpane {
	position: fixed;
	width: 55%;
	bottom: 0;
	top: 75px;
	padding-top: 1%;
	border-bottom: 5px solid yellow;
}

#detailrightpane {
	position: fixed;
	width: 45%;
	bottom: 0;
	top: 75px;
	margin: 0 0 0 55%;
	padding-top: 1%;
	border-left: 5px solid yellow;
	border-bottom: 5px solid yellow;
	text-align: center;
}

#detailleftpane iframe {
	display: block;
    margin: 0 auto;
    width: 80%;
    height: 60%;
}

#detailback {
	margin: 20px;
	border: 2px solid yellow;
	max-width: 5%;
	overflow-x: hidden;
	text-align: center;
}

#detaildesc {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 5px solid yellow;
	overflow-y: scroll;
	height: 50%;
	text-align: left;
}

#detailrating {
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 5px solid yellow;
	overflow-y: hidden;
	height: 30%;
	text-align: center;
	margin-top: 5%;
}
