{% extends "base.html" %}
{% load static %}

{% block title %}My Collection{% endblock %}


{% block content %}
<div id="sidebar">
    <h3>GENRES</h3>
    <ul>
    {% if genre_list %}
        {% for genre in genre_list %}
            <li><a href="{% url 'movies:genre' genre.genreId %}">{{ genre.genreName }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
     <div id="search">
        <form method="post" action="{% url "search:search_movie" %}">
            {% csrf_token %}
            {{ search_form }}
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div id="index">
    <h2>Your Orders</h2>
    <div id="started">
        <h3>Movies You Have Already Started:</h3>
        {% if started_list %}
            {% for movie in started_list %}
                {% if movie.startedWatching > 0 %}
                    <div class="item">
                        <a href="{% url 'movies:detail' movie.movieId %}">
                            <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            <br>
                            <h4>{{ movie.movieName }}</h4>
                        </a>
                        You last ordered this movie on <b>{{ movie.latestOrder|date:'d/m/Y' }}</b>
                        <br>
                        You have <b>{{ movie.latestWatch|add:two_days|timeuntil }}</b> left to watch this film
                        <br>
                        <h4><a href="{% url 'orders:watch' movie.movieId %}">WATCH NOW</a></h4>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Movies :(</p>
        {% endif %}
    </div>

    <div id="unwatched">
        <h3>Movies You Have Yet To Start Watching:</h3>
        {% if unwatched_list %}
            {% for movie in movie_list %}
                {% if movie.isUnwatched > 0 %}
                    <div class="item">
                        <a href="{% url 'movies:detail' movie.movieId %}">
                            <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            <br>
                            <h4>{{ movie.movieName }}</h4>
                        </a>
                        You last ordered this movie on <b>{{ movie.latestOrder|date:'d/m/Y' }}</b>
                        <br>
                        You have {{ movie.isUnwatched }} unwatched cop{% if movie.isUnwatched > 1 %}ies {% else %}y{% endif %} of this movie
                        <br>
                        <h4><a href="{% url 'orders:watch' movie.movieId %}">WATCH NOW</a></h4>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Movies :(</p>
        {% endif %}
    </div>
    <div id="allOrdered">
        <h3>All Previously Ordered Movies:</h3>
        {% if movie_list %}
            {% for movie in movie_list %}
                <div class="item">
                    <a href="{% url 'movies:detail' movie.movieId %}">
                        <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        <br>
                        <h4>{{ movie.movieName }}</h4>
                    </a>
                    You have ordered this {{ movie.numOrders }} time{% if movie.numOrders > 1 %}s{% endif %}
                    <br>
                    You last ordered this movie on <b>{{ movie.latestOrder|date:'d/m/Y' }}</b>
                    <br>
                    {% if movie.isUnwatched or movie.startedWatching > 0 %}This movie is watchable{% else %}This movie has expired{% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No Movies :(</p>
        {% endif %}
    </div>
</div>
{% endblock %}
