{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

<div id="header">
  <nav>
    <div id="headleft">
      <ul>
        <li><a href="/">RECENTLY ADDED</a></li>
      </ul>
    </div>
    <div id="headright">
      <ul>
        <li><a href="/">MY COLLECTION</a></li>
        <li><a href="/"><img src="{% static "img/Search.png" %}" class="icon"></a></li>
        <li><a href="/cart/">My Cart</a></li>
        <li><a href="/profile/">My Account</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>

    <div>
      <a href="/" class="logo">
        <img src="{% static "img/Logo.png" %}">
      </a>
    </div>

  </nav>
</div>


<div id="content">
	{% block content %}
	{% endblock %}
</div>

<div id="footer">
</div>

</body>
</html>
