{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Kino{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

<div id="navtools">


  <nav>
    <a href="/" class="logo">
      <img src="{% static "img/Logo.png" %}" >
    </a>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>


  </nav>
</div>


<div id="content">
	{% block content %}
	{% endblock %}
</div>


<div id="footer">
  KINO 2019
</div>
</body>
</html>
