<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Kino Login</title>
	<meta name="description" content="Kino Login">

	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div class="form">
		<img src="Logo.png" alt="Logo">
		<br>
		<p class="SignIn">Sign in</p>
		<form name="Login">
		<br>
		<input type="text" name="username" placeholder="Email or phone number">
		<br>
		<br>
		<input type="password" name="password" placeholder="Password">
		</form>
		<br>
		<br>
		<div>
			<button class="button1">Sign In</button>
		</div>
		<section>
			<div id="left">
				<button class="button2">Remember Me</button>
			</div>
			<div id="right">
				<button class="button3">Forgot Password?</button>
			</div>
		</section>
		<div id="footer">
		<button class="button4">New to Kino? Sign up now</button>
	</div>
	</div>
</body>
</html>