<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Change Password</title>
	<meta name="description" content="Change_Password">

	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div class="form">
		
		<br>
		<p>Change password</p>
		<form name="pw_change">
		<input id="reg" type="text" name="username" placeholder="Email or phone number">
		<br>
		<br>
		<input id="reg" type="password" name="password" placeholder="Enter new password">
		<br>
		<br>
		<input id="reg" type="password" name="confirm_password" placeholder="Confirm new password">
		<br>
		<br>
		<br>
		</form>
		<div>
			<button class="button1">Confirm</button>
		</div>
	</div>
</body>
</html>
