<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Kino Registration</title>
	<meta name="description" content="Kino Registration">

	<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div class="form">
		
		<br>
		<p>Profile</p>
		<form name="Login">
		<input id="reg" type="text" name="username" placeholder="Email or phone number">
		<br>
		<br>
		<input id="reg" type="text" name="password" placeholder="Password">
		<br>
		<br>
		<p>Set up your credit or debit card</p>
		<input id="reg" type="text" name="fname" placeholder="First Name"><br>
		<br>
		<input id="reg" type="text" name="lname" placeholder="Last Name">
		<br>
		<br>
		<input id="reg" type="text" name="c_num" placeholder="Card Number">
		<br>
		<br>
		<input id="reg" type="text" name="exp_date" placeholder="Expiry Date (MM/YY)">
		<br>
		<br>
		<input id="reg" type="text" name="cvv" placeholder="Security Code (CVV)">
		</form>
		<br>
		<br>
		<div>
			<button class="button1">PayPal</button>
		</div>
	</div>
</body>
</html>
