{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Results for "{{ phrase }}"
{% endblock %}

{% block content %}
<div id="sidebar">
    <br>




    <div id="search" align="left" style="margin-left:4%">
        <form method="post" action="{% url 'search:search_movie' %}">
            {% csrf_token %}
            <table>
                <h3> SEARCH <img src="{% static 'img/search.png' %}" width="10%" height="10%"></h3>
                {{ search_form.as_table }}
            </table>
            <br>
        <div align="center">
            <input type="submit" value="Search" align = "center">
        </div>
        </form>
    </div>
</div>

<div id="index">
    <h1>Results for "{{ phrase }}"</h1>
    {% if movie_list %}
        {% for movie in movie_list %}
           <div class="item">
                <a href="{% url 'orders:order_list' %}">
                    {% if movie.isUnwatched or movie.startedWatching %}<div class="rentedlabel">Renting</div>{% endif %}
                </a>
                <div class = "zoom">
                <a href="{% url 'movies:detail' movie.movieId %}">
                    <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                </div>
                <a href="{% url 'movies:detail' movie.movieId %}">
                    {{ movie.movieName }}
                </a>
                <br>
                Rated: {{movie.overallRating|floatformat:"1"|intcomma}} / 5.0
            </div>
        {% endfor %}
        <div id="button_box">
            {% if page_no > 1 %}
            <div id="back_button">
                <form method="post" action="{% url 'search:search_movie' %}">
                    <div style="display:none">
                        {% csrf_token %}
                        {{ search_form }}
                        <input type="number" name="page_no" value="{{page_no|add:'-1'}}" readonly>
                    </div>
                    <input class="buttonlink" type="submit" value="Previous Page">
                </form>
            </div>
            {% endif %}
            {% if page_no < page_total %}
            <div id="next_button">
                <form method="post" action="{% url 'search:search_movie' %}">
                    <div style="display:none">
                        {% csrf_token %}
                        {{ search_form }}
                        <input type="number" name="page_no" value="{{page_no|add:'1'}}" readonly>
                    </div>
                    <input class="buttonlink" type="submit" value="Next Page">
                </form>
            </div>
            {% endif %}
        </div>
    {% else %}
        <p>No Movies :(</p>
    {% endif %}
</div>
{% endblock %}
