{% extends "base.html" %}
{% load static %}

{% block title %}
    Results for "{{ phrase }}"
{% endblock %}

{% block content %}
<div id="sidebar">
    <h3>GENRES</h3>
    <ul>
    {% if total_genre_list %}
        {% for genre in total_genre_list %}
            <li><a href="{% url 'movies:genre' genre.genreId %}">{{ genre.genreName }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
    <div id="search">
        <form method="post" action="{% url 'search:search_movie' %}">
            {% csrf_token %}
            {{ search_form }}<br>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div id="index">
    <h1>Results for "{{ phrase }}"</h1>
    {% if movie_list %}
        {% for movie in movie_list %}
            <div class="item">
                <a href="{% url 'orders:order_list' %}">
                    {% if movie.isUnwatched or movie.startedWatching %}<div class="rentedlabel">Renting</div>{% endif %}
                </a>
                <a href="{% url 'movies:detail' movie.movieId %}">
                    <img src="{% if movie.image %}{{ movie.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <br>
                <a href="{% url 'movies:detail' movie.movieId %}">
                    {{ movie.movieName }}
                </a>
            </div>
        {% endfor %}
        <div id="button_box">
            {% if page_no > 1 %}
            <div id="back_button">
                <form method="post" action="{% url 'search:search_movie' %}">
                    <div style="display:none">
                        {% csrf_token %}
                        {{ search_form }}
                        <input type="number" name="page_no" value="{{page_no|add:'-1'}}" readonly>
                    </div>
                    <input class="buttonlink" type="submit" value="Previous Page">
                </form>
            </div>
            {% endif %}
            {% if page_no < page_total %}
            <div id="next_button">
                <form method="post" action="{% url 'search:search_movie' %}">
                    <div style="display:none">
                        {% csrf_token %}
                        {{ search_form }}
                        <input type="number" name="page_no" value="{{page_no|add:'1'}}" readonly>
                    </div>
                    <input class="buttonlink" type="submit" value="Next Page">
                </form>
            </div>
            {% endif %}
        </div>
    {% else %}
        <p>No Movies :(</p>
    {% endif %}
</div>
{% endblock %}
