<!DOCTYPE html>
<html>
<head>
  <title>
    Contact Us
  </title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="stylesheet2.css">

</head>
<body>


<div class="contact-us-container">
	<a href="#">
	<div id="back-link">
		<img id="back-link-arrow" src="img/back-arrow-black.png">
		<p id="back-link-text">Back to Help Center</p>
	</div>
	</a>
	<div id="form-container">
		<h2>Contact Kino</h2>
		<p>If you're having problems or would like to enquire about something, please fill out the form below and we'll get back to you as soon as we can.</p>
		<div id="main-form">
			<form>
				<div class="contact-us-form-inputs">
					<span class="contact-us-form-label"><strong>Inquiry Subject</strong></span><br>
					<input id="contact-us-form-input-1" class="contact-us-form-input" type="text" name="">
				</div>
				<div class="contact-us-form-inputs">
					<span class="contact-us-form-label"><strong>Confirm Email</strong></span><br>
					<input id="contact-us-form-input-2" class="contact-us-form-input" type="text" name="">
				</div>
				<div class="contact-us-form-inputs">
					<span class="contact-us-form-label"><strong>Comments</strong></span><br>
					<textarea class="contact-us-form-input" id="contact-us-form-input-3" name=""></textarea>
				</div>
				<input id="contact-us-form-submit" type="submit" value="send">
			</form>
		</div>
	</div>
</div>


</body>




</html>