<!DOCTYPE html>
<html>
<head>
  <title>
    FAQ
  </title>

<link rel="stylesheet" type="text/css" href="stylesheet4.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>


<body>


<div class="FAQ-container">


	<a href="#">
	<div id="back-link">
		<img id="back-link-arrow" src="img/back-arrow-black.png">
		<p id="back-link-text">Back to Help Center</p>
	</div>
	</a>


	<div id="intro-text-container">
		<h2>Frequently Asked Questions</h2>
		<p>Here are some of the most frequently asked questions that customers have issues with.</p>
	</div>

	<div id="FAQ-QAs-container">

		<button class="FAQ-button">What is Kino?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">Kino is a movie rental website where you can rent the newest movies for a limited amount of time of your choice! No need for a subscription!
			</p>
		</div>

		<button class="FAQ-button">When does my rental period begin?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">
				The rental period of purchased movies begins as soon as you press the play button. You can check how long is left of your rental in the "My Collection" page.
			</p>
		</div>

		<button class="FAQ-button">What happens when my rental period ends?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">
				Once the rental period is over, you will no longer have access to the movie that you have rented unless you rent it again.
			</p>
		</div>

		<button class="FAQ-button">Can I extend my rental period?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">We cannot extend your period currently but your progress is saved even if you are not currently renting the movie so you can rent it again.
		</div>

		<button class="FAQ-button">Can I purchase a movie to keep?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">Unfortunately we do not sell the movies, only limited time rentals.
		</div>

		<button class="FAQ-button">If I close my tab, will my progress into the movie be lost?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">No! We keep track of where you are in each movie so you can jump back right where you left off, anytime and anywhere!
		</div>

		

		<button class="FAQ-button">Can I see which movies I have previously rented?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">Yes, in the "My Collection" or "My Account" pages, you can find information regarding previous and current orders.
		</div>

		<button class="FAQ-button">Can anyone else see my ratings?</button>
		<div class="FAQ-question-content">
			<p class="FAQ-question-answer">No other users will be able to see what you have rated personally but your rating will be used to update the average rating of the movie.
		</div>

	</div>






</div>


<script src="FAQ.js"></script>


</body>




</html>