{% load static %}

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Welcome to Kino{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" rel="stylesheet">
</head>

{% block content %}
<div class="header">
  <a href="/login" id="link">Log in</a>
</div>
<br>
<br>
<div class="form">
    <img src="{% static 'img/logo.png' %}" alt="Logo">
    <h2>Welcome to Kino</h2>
    <a href="/signup" id="link"><h2 style="font-size:20px;" id="link">Sign up for free today</h2></a>
</div>
<div class="about" height="80vh" width="80vw">
  <img src="{% static 'img/kinopromo3.png' %}" alt="KinoPromo1" maxheight="100%" width="100%">
  <br>
  <br>
  <br>
  Kino possesses a huge library to choose from.
  <br>
  <br>
  <br>
  <img src="{% static 'img/kinopromo4.png' %}" alt="KinoPromo2" maxheight="100%" width="100%">
  <br>
  <br>
  <br>
  Rent films and watch them, any time, anywhere.
  <br>
  <br>
  <br>
  <a href="/signup" id="link"><h2 style="font-size:20px" id="link"><h2>Sign up for free today</h2></a>
  No subscription required!
  <br>
  <br>
  <br>
</div> 
<div class="footer">
  
</div>
{% endblock %}