{% load static %}

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Welcome to Kino{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}" rel="stylesheet">
</head>

{% block content %}
<div class="header">
  <a href="/login">Log in</a>
</div>
<br>
<br>
<div class="form">
    <img src="{% static 'img/logo.png' %}" alt="Logo">
    <h2>Welcome to Kino</h2>
    <a href="/signup"><h2>Sign up for free today</h2></a>
</div>
<div class="about">
  <img src="{% static 'img/kinopromo1.png' %}" alt="KinoPromo1" width=1000px>
  <br>
  Huge library to choose from
  <br>
  <img src="{% static 'img/kinopromo2.png' %}" alt="KinoPromo1" width=1000px>
  <br>
  Rent films and watch them, any time, anywhere
  <br>
  <br>
  <a href="/signup"><h2>Sign up for free today</h2></a>
  No subscription required
</div> 
<div class="footer">
  
</div>
{% endblock %}