{% extends "base.html" %}
{% block title %}Kino{% endblock %}
{% block content %}
<main class="page landing-page">
       <section class="clean-block clean-hero" style="color: rgba(0,0,0,0.85);background-color: #000000;">
           <div class="text">
               <h1 class="welcome">Welcome to Kino</h1>
               <h3>Unlimited movies just for you.</h3>
               <p>No subscription. Just sign up and watch.</p><a href="/signup" class="btn btn-outline-light btn-lg welcome" role="button">Sign Up</a></div>
       </section>
       <section class="clean-block features">
           <div class="container">
               <div class="block-heading">
                   <h2 class="text-info">Great movies await.</h2>
                   <p></p>
               </div>
               <div class="row justify-content-center">
                   <div class="col-md-5 feature-box"><i class="icon-film icon welcome"></i>
                       <h4>Movies just for you.</h4>
                       <p>We make sure that you get to watch movies you like and find suggestions specific to your taste.</p>
                   </div>
                   <div class="col-md-5 feature-box"><i class="icon-diamond icon"></i>
                       <h4><strong>No subscription.</strong></h4>
                       <p>There is no subscription. Just watch when you want and only pay for what you watch.</p>
                   </div>
                   <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                       <h4><strong>Watch everywhere.</strong></h4>
                       <p>Our website is adapted to all screens.&nbsp;<br>Watch on your laptop or phone.</p>
                   </div>
                   <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                       <h4>Always fresh.</h4>
                       <p>Watch all the movies you love. Kino is frequently updated and hosts all new movies.</p>
                   </div>
               </div>
           </div>
       </section>

   </main>
{% endblock %}
