{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<main class="page login-page">
       <section class="clean-block clean-form dark login">
           <div class="container">
               <div class="block-heading">
                  <br>
                  <br>
                  <br>
                   <h2 class="text-info">Log In</h2>
                   {% if request.session.success_signup %}
                    <h3>You have successfully signed up!</h3>
                    {% endif %}
               </div>
               <form class="login" method="post">
                   <div class="form-group">
                       {% csrf_token %}
                       {{ form|crispy }}
                   <div class="form-group">
                       <div><a href="#">Forgot password&nbsp;</a><a class="sign-up-link" href="/signup">Sign Up</a></div>
                   </div><button class="btn btn-primary btn-block" type="submit">Log In</button></form>
           </div>
       </section>
   </main>
{% endblock %}
