{% load static %}

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Login{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

{% block content %}
  <div class="form">
    <a href="/"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
    <br>
    <p class="SignIn">Sign in</p>
    <form name="Login" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
    <section>
      <div id="left">
        <button class="button2">Forgot Password</button>
      </div>
      <div id="right">
        <button onclick="window.location.href='/signup'" class="button3">Sign up</button>
      </div>
    </section>
  </div>
{% endblock %}