<!DOCTYPE html>
<html>
<head>
  <title>
    Thanks for Contacting!
  </title>

<link rel="stylesheet" type="text/css" href="stylesheet3.css">

</head>
<body>


<div class="thanks-for-contacting-container">
	<a href="#">
	<div id="back-link">
		<img id="back-link-arrow" src="img/back-arrow-black.png">
		<p id="back-link-text">Back to Home Page</p>
	</div>
	</a>
	<div id="form-container">
		<h2>Thanks for getting in touch!</h2>
		<p>Thanks for letting us know you're experience issues. We aim to respond to all enquiries within 2-3 working days.</p>
		<image id="thanks-for-contacting-image" src="img/Logo-transparent.png">		
	</div>
</div>





</body>
</html>